/D1/nbproject/private/
/D1/build/
/D2/nbproject/private/
/D2/build/
/D2/dist/
/D3/nbproject/private/
/D3/build/
/Kalkulators/nbproject/private/
/Kalkulators/build/
/D4/nbproject/private/
/D4/build/
/D4/dist/