/D1/nbproject/private/
/D1/build/
/D2/nbproject/private/
/D2/build/
/D2/dist/
/D3/nbproject/private/
/D3/build/
/Kalkulators/nbproject/private/
/Kalkulators/build/
/D4/nbproject/private/
/D4/build/
/D4/dist/
/D5/nbproject/private/
/D5/build/
/D5GUI/nbproject/private/
/D5GUI/build/
/D6/nbproject/private/
/D6/build/
/TicTacToe/nbproject/private/
/TicTacToe/build/
/TicTacToe/dist/
/Hangman/nbproject/private/
/Hangman/build/